body {
          font-family: 'Arial', sans-serif;
          background-color: #f4f4f4;
      }

      h1 {
          color: #333;
      }

      .btn {
          display: inline-block;
          padding: 8px 16px;
          font-size: 14px;
          text-align: center;
          text-decoration: none;
          background-color: #28a745;
          color: #fff;
          border-radius: 4px;
      }

      table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
      }

      th, td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
      }

      th {
          background-color: #4CAF50;
          color: white;
      }

      img {
          max-width: 50px;
          height: auto;
      }
   

    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 1.5em;
    }

    nav {
        display: flex;
    }

    .main-categories {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .main-categories li {
        margin: 0 15px;
        position: relative;
    }

    .main-categories a {
        text-decoration: none;
        color: #fff;
    }
    .parent-categories{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    .sub-categories {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #333;
        width:70px;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .main-categories li:hover .sub-categories {
        display: block;
    }

    .sub-categories li {
        margin: 5px 0;
    }